.a{
    text-decoration: none;
}
.page-container{
    display: flex;
    height: 100%;
    /* background-color: blue; */
}
.panel-nav{
    height: 65px;
    background-color: rgba(244, 244, 244, 0.9);
    position: relative;
}
.panel-nav .panel-logout {
    position: absolute;
    right: 10px;
    padding: 20px;
}
.page-content{
    padding: 0;
    width: 100%;
}
.content{
    padding: 10px;
}
.sidenav{
    height: 100%;
    width: 300px;
    /* background-color:rgba(0, 0, 0, 0.4); */
    background-color: rgba(0, 153, 0, 0.9);
}
.header-title{
    padding: 0;
    background-color: rgba(0,0,0, 0.2);
}
.title{
    text-align: center;
    font-size:20px;
    padding: 17px;
    padding-bottom: 18px;
    color: white;
}
.title i{
    padding-right: 10px;
}
.list-items{
    margin-top: 20px;
}
.item{
    padding: 5px;
}
.list-item{
    font-size: 18px;
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
}
.list-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100% ;
    width: 5px ;
    background-color: yellow;
    opacity: 0;
    transform: scaleY(0);
    transition: transform 0.2s, ocapcity 0.2s;
}
.list-item:hover::before{
    opacity: 0.5;
    transform: scaleY(0.5);
}
.list-item.selected::before{
    opacity: 1;
    transform: scaleY(1);
}
.list-item:hover{
    color: yellow;
    opacity: 0.5;
}
.list-item.selected{
    color: yellow;
}
.list-item i{
    padding-right: 10px;
}