<div class="page-container">
    <div class="sidenav">
        <div class="header-title">
            <div class="title"> 
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <strong>ADMINISTRATOR </strong>
            </div>
        </div>
        <div class="list-items">
            <div class="item">
                <a routerLink="/home" routerLinkActive="selected" class="list-item"> 
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <strong>Dashboad </strong>
                </a>
            </div>
            <div class="item">
                <a routerLink="/management-user" routerLinkActive="selected" class="list-item"> 
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <strong>Management User </strong>
                </a>
            </div>
            <div class="item">
                <a routerLink="/management-content" routerLinkActive="selected" class="list-item"> 
                    <i class="fa fa-book  " aria-hidden="true"></i>
                    <strong>Management Content </strong>
                </a>
            </div>
            
        </div>
    </div>
    <div class="page-content">
        <div class="panel-nav">
            <div class="panel-logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <strong> Logout </strong>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>