/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100% ;
    margin: 0;
}
a {
    text-decoration: none;
}

.my-modal {
    border: solid 1px white;
}

.my-modal .modal-header {
    background-color: rgba(0, 153, 0, 0.9);
    color: white;
}
