<div>
    <tabset>
      <tab class="active" heading="Basic title" id="tab1">
          <div class="tab-content">
                Basic content
          </div>
      </tab>
      <tab heading="Basic Title 1">
        <div class="tab-content">
            Basic content 1
        </div>
      </tab>
      <tab heading="Basic Title 2">
        <div class="tab-content">
            Basic content 2
        </div>
      </tab>
    </tabset>
</div>