<div class="container">
    <div class="title-user">
        <h3>
            <i class="fa fa-user" aria-hidden="true"></i>
            {{title}} 
        </h3>
        <div class="panel-content">
            <div class="panel-body">
                <button type="button" class="btn btn-primary" (click)="openModal(template)">Add User</button>
     
                <ng-template #template class="my-modal">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Modal</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    This is a modal.
                  </div>
                </ng-template>
            </div>
            
            <div class="panel-table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" >No</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Umur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users"> 
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.age}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>